@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap');

#root {
  display: flex;
  justify-content: center;
}

.container {
  width: 550px;
  height: 922px;
  background: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 317px;
  height: 834px;
  background: #1A1B21;
  border-radius: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

#info {
  margin-bottom: 33px;
}

img {
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  font-family: 'Inter';
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;

}

h3 {
  color: #F3BF99;
  margin-top: 6.19px;
  font-family: 'Inter', sans-serif;
  font-size: 12.8px;
  text-align: center;
}

h4 {
  color: #F5F5F5;
  margin-top: 8.81px;
  font-family: 'Inter', sans-serif;
  font-size: 10.24px;
  text-align: center;
  margin-bottom: 20px;
}

#forButton {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0px;
}

#email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-size: 14px;
  color: #374151;
  width: 105px;
  height: 25px;
}

#linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'Inter';
  font-size: 14px;
  color: #FFFFFF;
  width: 105px;
  height: 25px;
}

#about {
  margin: 0 auto 10px auto;
}

h2 {
  width: 242.71px;
  height: 21px;
  font-family: 'Inter';
  font-size: 16px;
  color: #F5F5F5;
  margin-bottom: 0;
}

p {
  margin-top: 5px;
  width: 247px;
  height: 61px;
  font-family: 'Inter';
  font-size: 10.24px;
  color: #DCDCDC;
}

#interest {
  margin: 0 auto 24px auto;
}

#footer {
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  width: 317px;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer i {
  background: #918E9B;
  font-size: 36px;
}

.footer-btn {
  text-decoration: none;
  color: black;
}